header{
    background-color: rgb(207, 217, 230);
    padding: 10px;
}
.cursive{
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: x-large;
}
a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    text-decoration-line: none;
    text-decoration-color: black;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: rgb(87, 128, 173);
}

/* selected link */
a:active {
    color: black;
}
div{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(82, 123, 168);
}
.body-header{
    text-decoration: underline;
    font-size: xx-large;
    text-align: center;
    line-height: 3;
}
.body-body{
    font-size: x-large;
    text-align: center;
}
footer{
    line-height: 10
}

